@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit",sans-serif;
}

@theme{
    --color-primary: #E54D66;
    --color-primary-dull: #44ae7c;
    --color-secondary: #87636B;
}

.no-scrollbar::-webkit-scrollbar{
   display: none;
}

